.card_img{
    width: 12rem;
    height: 9rem;
    object-fit: cover;
}

.image_responsive{
    /* width: 20%;
    height: auto; */
    object-fit: cover;
}

/* .transparent_background{
    background-color: rgba(244, 244, 244,0.5);
} */

.c_shadow{
    box-shadow: 10px 8px 20px rgb(181, 181, 181);
}

.cus_spinner{
    height: 90vh;
}
.cus_spinner>div{
    border-width: 0.35rem;
    width: 5rem;
    height: 5rem;
}

@media (max-width:575px){
    .card_img{
        height: 15rem;
    }
}